<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <display-name>SbiBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.sbi_user.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.sbi_user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.sbi_user.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccount</display-name>
    <servlet-name>NewAccount</servlet-name>
    <servlet-class>com.sbi_user.NewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccount</servlet-name>
    <url-pattern>/NewAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBalance</display-name>
    <servlet-name>CheckBalance</servlet-name>
    <servlet-class>com.sbi_user.CheckBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalance</servlet-name>
    <url-pattern>/CheckBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBalance</display-name>
    <servlet-name>ViewBalance</servlet-name>
    <servlet-class>com.sbi_user.ViewBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBalance</servlet-name>
    <url-pattern>/ViewBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.sbi_user.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Debit</display-name>
    <servlet-name>Debit</servlet-name>
    <servlet-class>com.sbi_user.Debit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Debit</servlet-name>
    <url-pattern>/Debit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Credit</display-name>
    <servlet-name>Credit</servlet-name>
    <servlet-class>com.sbi_user.Credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credit</servlet-name>
    <url-pattern>/Credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TDetails</display-name>
    <servlet-name>TDetails</servlet-name>
    <servlet-class>com.sbi_user.TDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TDetails</servlet-name>
    <url-pattern>/TDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDetail</display-name>
    <servlet-name>AccountDetail</servlet-name>
    <servlet-class>com.sbi_user.AccountDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetail</servlet-name>
    <url-pattern>/AccountDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetails</display-name>
    <servlet-name>ViewDetails</servlet-name>
    <servlet-class>com.sbi_user.ViewDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetails</servlet-name>
    <url-pattern>/ViewDetails</url-pattern>
  </servlet-mapping>
</web-app>